<%- include('adminHeader.ejs') %>

    <div class="container-fluid">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <%- include('./sidebarAdmin') %> 
                </div>

                <div class="col-lg-9 col-md-8  mt-4">
                   <h4 class="text-center text-danger">No data available right now</h4>
                </div>

            </div>
        </div>
    </div>


    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>