 <!-- SIDEBAR -->
 <div class="sidebar">
    <div class="sidebar-logo">
        <h2>Admin Panel</h2>
        <div class="sidebar-close" id="sidebar-close">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </div>
    <div class="sidebar-user">
        <div class="sidebar-user-info">
            <img src="/images/user-image.jpg" alt="User picture" class="profile-image">
            <div class="sidebar-user-name">
                Monir Hossain
            </div>
        </div>
        <a href="/"  >
            <button class="btn-admin btn-css"><i class='bx bx-log-out bx-flip-horizontal'></i></i></button>
        </a>
    </div>
    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <li>
            <a href="/admin" class="active">
                <i class='bx bx-home'></i>
                <span>dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin/products">
                <i class='bx bx-shopping-bag'></i>
                <span>products</span>
            </a>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-chart'></i>
                <span>orders</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/admin/orders/pending">
                        pending orders
                    </a>
                </li>
                <li>
                    <a href="/admin/orders/completed">
                        Completed orders
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-category'></i>
                <span>e-commerce</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/admin/add-product">
                        add Product
                    </a>
                </li>
                <li>
                    <a href="/admin/category">
                        category
                    </a>
                </li>
                <li>
                    <a href="/admin/orders">
                        orders
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-category'></i>
                <span>add project</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#">
                        list product
                    </a>
                </li>
                <li>
                    <a href="#">
                        add product
                    </a>
                </li>
                <li>
                    <a href="#">
                        orders
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-mail-send'></i>
                <span>mail</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-chat'></i>
                <span>chat</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-calendar'></i>
                <span>calendar</span>
            </a>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-cog'></i>
                <span>settings</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                        darkmode
                        <span class="darkmode-switch"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->


    <!-- MAIN CONTENT -->
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="main-title">
                dashboard
            </div>
        </div>