<%- include('../partials/header/head.ejs')  %>

    <div class="container-fluid text-center  py-5">
        <h1 class="text-primary">Welcome To <span class="text-success">Monir Shop</span></h1>
        <p>Our website is under developing ! Wait somedays Guys!</p>
        <p>Happy Shoping with <span class="text-success fw-bold">Monir Shop</span> </p>
    </div>

    <%- include('../partials/footer.ejs')  %>